<div class="block">
    <h1>Bem-vind_ ao meu bloco de notas!</h1>
    
    <p>Esta é uma tentativa de organizar pensamentos e descobertas, além de visualizar suas possíveis relações.</p>
    <p>Interesso-me por muitas coisas, de filosofia à poesia, me aventurando também por assuntos que permeiam estas áreas, como cinema e psicanálise.</p>
    <p>Sou entusiasta de experimentalismos e do D.I.Y., apoio a democratização do conhecimento, e acredito que a curiosidade é uma ferramenta poderosa para a construção de ideias significativas e autênticas.</p>
    </div>
