<div class="block">
    <h1>Bem-vind_ ao meu bloco de notas!</h1>
    
    <p>Meu nome é <a href="leonardocosta.neocities.org">Leonardo</a>, e esta é uma tentativa de organizar ideias, pensamentos e descobertas, que surgem durante investigações acerca dos assuntos que me interessam, além de visualizar suas possíveis relações.</p>
    <p>Sou entusiasta de experimentalismos e do D.I.Y., apoio a democratização do conhecimento, e acredito que a curiosidade é uma das nossas ferramentas mais poderosas.</p>
    <p>Para falar comigo, basta me enviar um <a href="mailto:leonardovcosta@protonmail.com">e-mail</a></p>
    </div>
